{% extends 'auctions/layout.html' %}

{% block body %}
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Add a title">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="price" placeholder="Enter starting price">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="category" placeholder="Provide Category">
        </div>
        <div>
            <textarea class="form-control" name="description" rows="5" id="comment" placeholder="Enter Description"></textarea><br>
        </div>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
{% endblock %}